<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eat-Da-Burgers</title>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lobster|Play|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
    <script src="/assets/js/burgers.js"></script>

  </head>
  <body>
    <div class="container backdrop">
  	
      <header>
    		<div class="jumbotron text-center">
    		  
          <img class="img-responsive center-block" alt="burger" src="/assets/img/burger.png">
    		 
          <h1 class="page-header">Eat Da Burger!</h1>
          
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <form action="/" method="POST" class="input-group">
                <input type="text" class="form-control align-center" name="burger" placeholder="Create your own burger" aria-label="...">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">Add Burger</button>
                </div>
              </form>
            </div>
          </div>

  		  </div>

    	</header>
 	   	
      {{{ body }}}

   	</div>

  	<footer>
      <a href="https://github.com/gitKendra/burger">GitHub Repo</a>
  	</footer>

  </body>
</html>